<%- include("../partials/header") %>
<section>
    <div class="error" >
 <img src="/image/404.png" alt=""  style="  display: block;margin-left: auto; margin-right: auto; margin-top: 200px;">
    </div>
</section>
<%- include("../partials/footer") %>