<%- include("../partials/header") %>
<%- include("../partials/usernav") %>
<style>
  body{
      background-color:rgb(189, 213, 250);
  }

</style>



<div class="container mt-5 ">

<div class="text-center" >
  <div class="alert alert-info" role="alert" style="height: 200px;">
    <h4 class="alert-heading">Welcome back</h4>
    <p>Thank you for returning!</p>
  </div>
</div>
</div>









<%- include("../partials/footer") %>
